.background-grey {
  padding-bottom: 150px;
  background-image: linear-gradient(0deg, $bg-grey, white);
}

.courses {
  margin-top: -90px;

  .row-courses {
    .col-courses {
    }
  }
}

.card {
  border-radius: 15px;
  box-shadow: $box-shadow;
}

.bg-html {
  background: $bg-html;
  height: 200px;
  @include bg-card;

  .img-html {
    width: 70%;
  }
}

.bg-laravel {
  background: $bg-laravel;
  height: 200px;
  @include bg-card;

  .img-laravel {
    width: 55%;
  }
}

.bg-php {
  background: $bg-php;
  height: 200px;
  @include bg-card;

  .img-php {
    width: 70%;
  }
}

.card-body {
  text-align: center;
  padding: 10px;

  .card-title {
    font-family: $font_UTM_BryantLG;
    font-weight: 900;
    color: $bg-color2;
    font-size: 28px;
    margin: 10px 0;
  }

  .card-text {
    font-family: $font_UTM_BryantLG;
    margin: auto;
    font-weight: 800;
    font-size: 14px;
    color: $txt-color;
    margin-bottom: 0.5rem;
    width: 80%;
    @include three-dot;
  }

  .btn-take-course {
    background: $bg-color;
    box-shadow: $box-shadow-btn;
    border-radius: 40px;
    font-weight: 600;
    font-size: 18px;
    padding: 8px 25px;
    margin: 10px 0;
    color: white;
    font-family: $font_UTM_BryantLG;

    &:hover {
      color: $txt-bg-color;
    }
  }

}

@media only screen and (max-width: 768px) {
  .courses {
    .row-courses {

      .col-courses {
        display: flex;
        justify-content: center;
        padding: 5px 5px;
      }
    }
  }

  .card-body {
    padding: 5px;

    .card-title {
      font-size: 20px;
    }

    .card-text {
      font-size: 13px;
    }

    .btn-take-course {
      padding: 4px 12px;
      font-size: 13px;
    }
  }

  .bg-html {
    height: 125px;
    background-size: contain;
  }

  .bg-laravel {
    height: 125px;
    background-size: contain;
  }

  .bg-php {
    height: 125px;
    background-size: contain;
  }
}

@media only screen and (max-width: 414px) {
  .background-grey {
    width: 100%;
    height: 280px;
  }

  .courses {
    margin-top: -10%;
  }

  .card {
    width: 70%;
    margin-bottom: 15px;
  }

  .card-body {
    .card-title {
      font-size: 20px;
    }

    .btn-take-course {
      padding: 6px 30px;
      font-size: 13px;
  }
  }
}
